@font-face {
    font-family: "BYekan";
    src: url("../fonts/Yekan.eot") format("eot"),
        url("../fonts/Yekan.ttf") format("truetype"),
        url("../fonts/Yekan.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "BYekan" !important;
}

.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}
a.close {
    float: right;
}
